/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

::selection {
  background-color: rgba(153, 186, 221, 0.801);
  color: #fff; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 75px;
  font-weight: 600;
  font-size: 16px;
  transition: all .25s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--orange {
  background-color: #F64C72;
  color: #fff; }
  .btn--orange::after {
    background-color: #F64C72; }

.btn--animated {
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; }

.card {
  height: 30rem;
  box-shadow: 0 4px 8px 0 rgba(153, 186, 221, 0.801), 0 6px 20px 0 rgba(153, 186, 221, 0.801); }
  .card__heading {
    display: block;
    color: #0f3256;
    padding: 2.5rem 0 .75rem 0;
    font-size: 2.75rem;
    font-weight: 600; }
  .card__body {
    display: block;
    padding: 0 2.5rem;
    color: #000;
    font-weight: 500; }

.footer {
  background-color: #333;
  padding: 6.5rem 0;
  font-size: 1.4rem;
  color: #f7f7f7; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 17.5rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block;
    text-transform: uppercase; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    background-color: #333;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block; }
  .footer__link:hover, .footer__link:active {
    color: rgba(153, 186, 221, 0.801);
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.4);
    transform: translateY(-3px); }
  .footer__copyright {
    padding-top: 2rem;
    text-transform: uppercase; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2 * 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to left top, rgba(153, 186, 221, 0.801), rgba(153, 186, 221, 0.801)), url(../img/bank-vault.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .header__logo-box {
        top: 4rem;
        left: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .header__logo-box {
        top: 3.25rem;
        left: 2.5rem; } }
  .header__logo {
    height: 7rem; }
  .header__text-box {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    padding: 7.5px 0 30px 0;
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.5px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: rgba(153, 186, 221, 0.801);
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }
  @media only screen and (max-width: 56.25em) {
    .navigation__button {
      top: 4rem;
      right: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#0f3256, #0f3256);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  @media only screen and (max-width: 56.25em) {
    .navigation__background {
      top: 4.5rem;
      right: 4.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #F64C72;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #f7f7f7;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.section-about {
  background-color: #fff;
  padding-bottom: 8rem; }

.about {
  padding: 4rem 0; }
  .about__main {
    color: #0f3256;
    display: block;
    font-size: 4rem;
    letter-spacing: 1.5px; }
  .about__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .5px;
    color: #000; }

.content-separator {
  border-bottom: 1px solid #777;
  margin-bottom: 4rem; }

.section-cta {
  background-color: rgba(153, 186, 221, 0.801); }
  .section-cta__button {
    text-align: center;
    padding: 4rem 0; }

.section-financial {
  padding-bottom: 8rem; }

.financial {
  padding: 4rem 0; }
  .financial__main {
    color: #0f3256;
    display: block;
    font-size: 4rem;
    letter-spacing: 1.5px; }
  .financial__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .5px;
    color: #000; }
