@media screen and (max-width: 600px) {
    .header__logo {
        height: 50px;
    }

    .header__text-box {
        top: 55%;
    }

    .grid {
        padding-left: .25rem;
        padding-right: .25rem;
    }
}