.card {
    height: 30rem;
    box-shadow: 0 4px 8px 0 $color-blue-light, 0 6px 20px 0 $color-blue-light;

    &__heading {
        display: block;
        color: $color-blue-dark;
        padding: 2.5rem 0 .75rem 0;
        font-size: 2.75rem;
        font-weight: 600;
    }

    &__body {
        display: block;
        padding: 0 2.5rem;
        color: $color-black;
        font-weight: 500;
    }
}