.card {
    height: 40rem;
    // box-shadow: 0 0 4px .75px $color-black;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .175);
    text-align: center;

    &__heading {
        display: block;
        color: $color-grey-dark-2;
        padding: 2.5rem 0 .75rem 0;
        font-size: 2.75rem;
        font-weight: 600;
    }

    &__body {
        display: block;
        padding: 0 2.5rem;
        color: $color-grey-dark;
        font-weight: 500;
    }
}