@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777; }

.heading-primary {
  color: #fff;
  text-transform: uppercase; }
  .heading-primary--main {
    display: block;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 10px;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    padding: 7.5px 0 30px 0;
    display: block;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.5px;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out; }

.heading-about {
  color: #0f3256; }
  .heading-about--main {
    display: block;
    font-size: 4.5rem;
    letter-spacing: 2.5px; }
  .heading-about--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.5px;
    color: #777; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 75px;
  font-weight: 600;
  font-size: 16px;
  transition: all .25s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn--orange {
  background-color: #F64C72;
  color: #fff; }
  .btn--orange::after {
    background-color: #F64C72; }

.btn--animated {
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; }

.row {
  max-width: 114rem;
  margin: 0 auto;
  text-align: center; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }

.header {
  height: 100vh;
  background-image: linear-gradient(to left top, rgba(153, 186, 221, 0.801), rgba(153, 186, 221, 0.801)), url(../img/bank-vault.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 25px;
    left: 25px; }
  .header__logo {
    height: 75px; }
  .header__text-box {
    position: absolute;
    top: 47.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

@media screen and (max-width: 600px) {
  .header__logo {
    height: 50px; }
  .header__text-box {
    top: 55%; }
  .grid {
    padding-left: .25rem;
    padding-right: .25rem; }
  .row {
    padding-left: .75rem;
    padding-right: .75rem; } }

.section-about {
  background-color: #fff;
  padding-top: 4rem; }

.section-reasons {
  background: rgba(153, 186, 221, 0.801); }
