.section-about {
    background-color: $color-white;
    padding-bottom: $gutter-vertical;
}

.about {
    padding: 4rem 0 2.5rem 0;

    &__main {
        color: $color-grey-dark-2;
        display: block;
        font-size: 4rem;
        letter-spacing: 1.5px;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        letter-spacing: .5px;
        color: $color-grey-dark;
    }
}

.section-cta {
    // background-color: $color-blue;
    background: linear-gradient(to left top, rgba(24, 130, 243, 0.801), rgba(153, 186, 221, 0.801));

    &__button {
        text-align: center;
        padding: 4rem 0;
    }
}

.section-financial {
    padding-bottom: $gutter-vertical;
}

.financial {
    padding: 4rem 0;

    &__main {
        color: $color-grey-dark-2;
        display: block;
        font-size: 4rem;
        letter-spacing: 1.5px;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        letter-spacing: .5px;
        color: $color-grey-dark;
    }
}