.section-about {
    background-color: $color-white;
    padding-bottom: $gutter-vertical;
}

.about {
    padding: 4rem 0;

    &__main {
        color: $color-blue-dark;
        display: block;
        font-size: 4rem;
        letter-spacing: 1.5px;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        letter-spacing: .5px;
        color: $color-black;
    }
}

.content-separator {
    border-bottom: 1px solid $color-grey-dark;
    margin-bottom: 4rem;
}

.section-cta {
    background-color: $color-blue-light;

    &__button {
        text-align: center;
        padding: 4rem 0;
    }
}

.section-financial {
    padding-bottom: $gutter-vertical;
}

.financial {
    padding: 4rem 0;

    &__main {
        color: $color-blue-dark;
        display: block;
        font-size: 4rem;
        letter-spacing: 1.5px;
    }

    &__sub {
        display: block;
        font-size: 2rem;
        letter-spacing: .5px;
        color: $color-black;
    }
}